body {
    width: 100%;
    height: 100%;
    background: red;
    overflow-x: hidden;
    overflow-y: scroll;
}

.gridWrapper {
    width: 100%;
    height: 100%;
    background: blue;
    overflow: hidden;
}

.grid {

}

.grid > img {
    visibility: hidden;
    width: 20%;
    margin: 2.5%;
}