body {
    width: 100%;
    height: 100%;
    background: rgb(235,235,235);
    overflow-x: hidden;
    overflow-y: scroll;
}

.gridWrapper {
    width: 100%;
    height: 100%;
    /*background: blue;*/
    /*overflow: hidden;*/
}

.grid {

}

.grid > img {
    visibility: hidden;
    width: 20%;
    margin: 2.5%;
}

.grid > div {
    visibility: hidden;
}

.smallTest {
    width: 100px; 
    height: 100px; 
    margin: 20px; 
    background: red;
}

.bigTest {
    width: 240px;
    height: 240px;
    background: blue;
}

.bigTest2 {
    width: 240px;
    height: 240px;
    background: blue;
}

.item {
    visibility: hidden; 
    position: absolute; 
    left: 0px; 
    top: 0px;
}